/* Error: expected "{".
 *     ,
 * 303 |   }Í
 *     |     ^
 *     '
 *   css/sass/_rebrand.scss 303:5  @import
 *   css/sass/base-sass.scss 19:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 303 \2502    }Í\a     \2502      ^\a     \2575 \a   css/sass/_rebrand.scss 303:5  @import\a   css/sass/base-sass.scss 19:9  root stylesheet';
}
