.no-left-right-padding {
  padding-left: 0;
  padding-right: 0;
}

.section-heading {
  padding-top: 10px;
  margin-bottom: 26px !important;
  border-top: 2px solid $tna_black;
}

.no-top-padding {
  padding-top: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

#guidance_feedback.react_component_gf {
  border: none !important;
  padding: 0 !important;
}

.content-area {
  a {
    text-decoration: underline;
  }
}

.newsletter-tna-base {
  color: $tna_black;
  background: #dde5d5;
  padding-top: 1.6em;
  .news-content {
    h3 {
      font-size: 1.6em;
      margin-top: 0;
      line-height: 1;
    }
    .button {
      padding: .3em .9em;
      line-height: 1;
      margin-top: 0.6em;
    }
  }
}

ul.child {
  li.page_item {
    list-style: none !important;
    margin-left: 0 !important;
    margin-bottom: 5px;
    a {
      text-decoration: underline !important;
    }
  }
}

ul.sibling {
  li.page_item {
    margin-bottom: 5px;
  }
}

.education-child-header {
  padding: 7px 22px;
}

.white-box {
  margin-left: 7px;
  background-color: #fff;
  padding: 7px 22px;
  border: 2px solid black;
  width: 50%;
}

.separator {
  border: none !important;
}
