.keywords-selectable li {
    float:left;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .keywords-selectable li {
        float:left;
        width: 48% !important;
        margin-right: 1% !important;
    }
}
.map-container svg {
    opacity: 1;
}
