.keywords-selectable li {
    float:left;
    width: 32% !important;
    margin-right: 1% !important;
}
@media only screen and (min-width: 1024px) {
    .keywords-selectable li {
        float:left;
        width: 23.8% !important;
    }
}